<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.mapper.FunWordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zz.entity.FunWord">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="audio" property="audio" />
        <result column="explain" property="explain" />
        <result column="example" property="example" />
        <result column="grade" property="grade" />
        <result column="study" property="study" />
        <result column="remember" property="remember" />
        <result column="collection" property="collection" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, audio, explain, example, grade, study, remember, collection
    </sql>

</mapper>
