<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.mapper.FunWordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zz.entity.FunWord">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="word" property="word" />
        <result column="audio" property="audio" />
        <result column="part" property="part" />
        <result column="means" property="means" />
        <result column="example" property="example" />
        <result column="trans" property="trans" />
        <result column="study" property="study" />
        <result column="remember" property="remember" />
        <result column="collection" property="collection" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, grade, word, audio, part, means, example, trans, study, remember, collection
    </sql>

</mapper>
